{% extends 'core/base.html' %}

{% block title %}My Account{% endblock %}

{% block content %}
  <div class="max-w-6xl mx-auto p-6">
    <h1 class="mb-5 text-3xl">My account</h1>

    <div class="mb-6">
      <strong>Name: </strong>{{ request.user.get_full_name }}<br> <strong>E-mail: </strong>{{ request.user.email }}<br>

      <a href="{% url 'edit_myaccount' %}" class="inline-block mt-4 py-4 px-6 rounded-xl text-white bg-purple-500">
        Edit </a>
      <a href="{% url 'logout' %}" class="inline-block mt-3 py-3 px-4 rounded-xl text-white bg-yellow-500">
        Log out </a>
    </div>

    <hr>

    <h2 class="my-2 text-xl">My addresses</h2>
    <a
        href="{% url 'add_address' %}"
        class="inline-block py-2 px-4 rounded-xl text-white bg-green-400"> Add </a>

    {% for address in request.user.shipping.all %}
      <div class="w-full p-6 flex flex-wrap bg-gray-100 rounded-xl">
        <div class="flex justify-between">
          <b>{{ forloop.counter }}.</b>
        </div>
        <div class="w-full">
          <div class="product mb-6 flex pr-6">
            <div class="w-3/4 pl-6">
              <p>Full Name: {{ address.first_name }} {{ address.last_name }}</p>
              <p>Phone: {{ address.phone }}</p>
              <p>Email: {{ address.email }}</p>
              <p>Address: {{ address.address }}, {{ address.place }}, {{ address.zipcode }}</p>
              <br>
              <a
                  href="{% url 'edit_address' address.pk %}"
                  class="inline-block py-1 px-3 rounded-xl text-white bg-blue-400"> Edit </a>
            </div>
          </div>
        </div>

      </div>
    {% endfor %}

    <hr>

    <h2 class="my-6 text-xl">My orders</h2>

    {% for order in request.user.orders.all %}
      <div class="w-full mb-6 p-6 flex flex-wrap bg-gray-100 rounded-xl">
        <div class="mb-6 flex justify-between">
          <a href="#">Order id: {{ order.id }}</a>
        </div>

        <div class="mb-6 w-full">
          {% for item in order.items.all %}
            <div class="product mb-6 flex pr-6">
              <a href="{% url 'product' item.product.slug %}" class="w-1/4"> <img class="hover:shadow-lg rounded-xl"
                                                                                  src="{{ item.product.get_thumbnail }}">
              </a>

              <div class="w-3/4 pl-6">
                <div class="flex justify-between">
                  <a href="{% url 'product' item.product.slug %}" class="text-lg">{{ item.product.name }}</a>

                  <p class="mb-6 pt-1 text-gray-400">${{ item.product.price }}</p>
                </div>

                <hr>

                <div class="mt-6">
                  Quantity: {{ item.quantity }}
                </div>
              </div>
            </div>
          {% endfor %}
          <div>
            <p class="text-lg">Date: {{ order.created_at }}</p>
            <p class="text-lg">Total: $</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}