{% extends 'core/base.html' %}

{% block title %}Checkout{% endblock %}

{% block content %}
  {% if request.user.is_authenticated %}
    {% include 'order/partials/checkout_registered.html' %}
  {% else %}
    {% include 'order/partials/checkout_unregistered.html' %}
  {% endif %}
{% endblock %}

{% block scripts %}
  <script type="application/javascript" src="https://js.stripe.com/v3/"></script>
{% endblock %}
{#{% block content %}#}
{#  <div class="max-w-6xl mx-auto flex flex-wrap items-start py-6 px-6 xl:px-0">#}
{#    <div class="products w-full lg:w-3/4">#}
{#      <h1 class="mb-5 text-3xl">Checkout</h1>#}
{##}
{#      <div class="w-full pr-6">#}
{#        <div class="mb-6 p-6 bg-gray-100 rounded-xl">#}
{#          <h2 class="mb-5 uppercase text-lg">Shipping information</h2>#}
{##}
{#          <div class="mb-2">#}
{#            <label for="address" class="inline-block mb-2">Address#}
{#              <select name="address" class="w-full w-full p-5 rounded-xl">#}
{#                <option value="">Select address</option>#}
{#                {% for address in request.user.shipping.all %}#}
{#                  <option value="{{ address.id }}">#}
{#                    {{ address }}#}
{#                  </option>#}
{#                {% endfor %}#}
{#              </select>#}
{#            </label>#}
{#          </div>#}
{#        </div>#}
{##}
{#        <div class="mb-6 p-6 bg-gray-100 rounded-xl">#}
{#          <h2 class="mb-5 uppercase text-lg">Payment information</h2>#}
{##}
{#          <div class="mb2">#}
{#            Radio Input to select payment method...#}
{#          </div>#}
{#        </div>#}
{#        <div class="mb-6 p-6 bg-red-100 rounded-xl" id="errors" hidden>#}
{#        </div>#}
{##}
{#      </div>#}
{#    </div>#}
{#    <div class="summary w-full w-1/4 p-6 bg-gray-100 rounded-xl mt-3">#}
{#      <h2 class="uppercase text-lg mb-5">Summary</h2>#}
{##}
{#      <div class="mb-6 flex justify-between">#}
{#        <span class="font-semibold">Total</span>#}
{#        <span>${{ cart.get_total_cost }}</span>#}
{#      </div>#}
{##}
{#      <button type="submit"#}
{#              class="inline-block px-8 py-4 rounded-xl bg-purple-500 hover:bg-purple-700 text-white">#}
{#        Confirm checkout#}
{#      </button>#}
{#    </div>#}
{#  </div>#}
{#{% endblock %}#}
{##}
{#{% block scripts %}#}
{#  <script type="application/javascript" src="https://js.stripe.com/v3/"></script>#}
{#  <script>#}
{#    const buyButton = document.querySelector("button[type=submit]")#}
{#    const selectAddress = document.querySelector("select[name=address]")#}
{#    const errorsEl = document.querySelector("#errors")#}
{##}
{#    const validateForm = (data) => {#}
{#      let errors = []#}
{#      if (!data.address) {#}
{#        errors.push("Address must be selected")#}
{#      }#}
{##}
{#      let html = "<ul>"#}
{#      if (errors.length) {#}
{#        errors.forEach((error) => {#}
{#          html += `<li>${error}</li>`#}
{#        })#}
{#        errorsEl.insertAdjacentHTML("beforeend", `${html}</ul>`)#}
{#        errorsEl.style.display = "block"#}
{#      } else {#}
{#        errorsEl.insertAdjacentHTML("beforeend", ``)#}
{#        errorsEl.style.display = "none"#}
{#      }#}
{##}
{#      return errors#}
{#    }#}
{##}
{#    const buy = (event) => {#}
{#      event.preventDefault()#}
{##}
{#      const data = {#}
{#        address: selectAddress.options[selectAddress.selectedIndex].value#}
{#      }#}
{##}
{#      let errors = validateForm(data)#}
{#      if (!errors.length) {#}
{#        const stripe = Stripe('{{ pub_key }}')#}
{##}
{#        fetch('{% url 'start_order' %}', {#}
{#          method: "POST",#}
{#          headers: {#}
{#            "Content-Type": "application/json",#}
{#            "X-CSRFToken": '{{ csrf_token }}'#}
{#          },#}
{#          credentials: "same-origin",#}
{#          body: JSON.stringify(data)#}
{#        })#}
{#            .then((response) => response.json())#}
{#            .then((session) => stripe.redirectToCheckout({sessionId: session.session.id}))#}
{#      }#}
{#    }#}
{##}
{#    buyButton.addEventListener("click", buy)#}
{#  </script>#}
{#{% endblock %}#}